cleanup = true

params {
    report_dir = './reports'
    custom_config_version       = 'master'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

    try {
    	includeConfig "${params.custom_config_base}/conf/sanger.config"
    } catch (Exception e) {
    	System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/conf/sanger.config")
    }
}

profiles {

  local {
    includeConfig 'conf/base.config'
    process.executor = 'local'
  }

  lsf {
    includeConfig 'conf/lsf.config'
    process.queue = 'imaging'
  }
}

process {
    withName: Get_shapely_objects {
    	cpus 1
    	memory 60.GB
    }

    withName: Build_STR_trees_per_channel {
    	cpus 1
    	memory 60.GB
    }

    withName: Assign {
    	cpus 1
    	memory 150.GB
    }

    withName: Shapely_to_label {
    	cpus 1
    	memory 150.GB
    }

    withName: to_h5ad {
    	cpus 1
    	memory 150.GB
    }
}

timeline {
  enabled = false
  file = "${params.report_dir}/timeline.html"
}


trace {
    enabled = false
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}
