process {
  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']
}

docker.enabled=false

singularity {
  enabled = true
  autoMounts = false
  runOptions = "--containall --bind /lustre --bind /nfs"
  cacheDir = '/lustre/scratch126/cellgen/team283/NXF_WORK/'
}
