docker {
  enabled = false
}

singularity {
  enabled = true
  autoMounts = false
  runOptions = "--containall --bind /lustre --bind /nfs"
  cacheDir = '/lustre/scratch126/cellgen/team283/NXF_WORK/'
}

process {
    withName: Get_shapely_objects {
	cpus = 1
	memory = 60.GB
    }

    withName: Build_STR_trees_per_channel {
	cpus = 1
	memory = 60.GB
    }

    withName: Assign {
	cpus = 1
	memory = 150.GB
    }

    withName: Shapely_to_label {
	cpus = 1
	memory = 150.GB
    }

    withName: to_h5ad {
	cpus = 1
	memory = 150.GB
    }
}
